* {
    font-family: 'Press Start 2P', cursive;
    color:white;
}

body {
    margin: 0;
    background-color: black;
}

#main-space {
    display:flex;
}

#display {
    height:650px;
    margin:20px;
}


#game {
    margin:10px;
}

#button-id {
    margin:40px;
    margin-left:0; 
}

.buttons {
    background-color: black;
    border-style:solid;
    border-color:white;
    padding:15px;
    font-size:15px;
}

.buttons:active {
    background-color: white;
    color:black;
}

#next-piece {
    padding:0;
    width:250px;
    height:250px;
    border-style:solid;
    margin-top:15px;
}

#gameCanvas {
    padding:0;
    border-style: solid;
}